:root {
    --acent-color: #404BBF;
    --primary-acent-color: #E7E9FC;
    --secondary-acent-color: #4D5AE5;
    --tertiary-acent-color: #F4F4FD;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --tertiary-text-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


body {
    font-family: var(--primary-font);
}

.container {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding: 15px;
    outline: 2px solid red;
}

.title-two {
font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

/*============================= HEADER ====================== */




.header-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.header-logo-web {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-acent-color);
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--acent-color);
}

.mail {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}

.mail:hover,
.mail:focus {
    color: var(--acent-color);
}

.phone-number {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}

.phone-number:hover,
.phone-number:focus {
    color: var(--acent-color);
}


/*===================== MEIN =====================*/

/*===================== HERO =====================*/

.hero {
    width: 1440px;
    background: var(--primary-text-color)
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    color: var(--tertiary-text-color);
}
.btn {
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 10px;
    
       
    
       background-color: var(--secondary-acent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}

.text-btn {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: var(--tertiary-text-color);
     
}

.text-btn:hover,
.text-btn:focus {
    background-color: var(--acent-color);
    color: var(--tertiary-text-color);
}

/* ====================== FEATURES ================= */

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}

/* ======================= PRODUCT ================ */





/*  SECTION-TEAM   */


.team-title-foto {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}

/* ========= PORTFOLIO ============ */

.section-team {
    width: 1440px;
    background: var(--tertiary-acent-color);
}


.portfolio-filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--acent-color);
    background: var(--tertiary-acent-color);
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
    background-color: var(--acent-color);
    color: var(--tertiary-text-color);
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}


/*=================== FOOTER ============ */

.footer {
    width: 1440px;
    background: var(--primary-text-color);
}

.footer-link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--tertiary-acent-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-acent-color);
}